In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

In [2]:
# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

In [3]:
# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [4]:
#Take a look at the dataframe so I know what I'm dealing with
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

In [5]:
tot_player = purchase_data['SN'].nunique()
tot_player_df = pd.DataFrame({'Total Players': [tot_player]}, index=[0])
tot_player_df

   Total Players
0            576

In [6]:
unique_items = purchase_data['Item ID'].nunique()
average_price = '${:,.2f}'.format(purchase_data['Price'].mean())
number_purchases = purchase_data['Item Name'].count()
revenue = '${:,.2f}'.format(purchase_data['Price'].sum())
revenue

'$2,379.77'

## Purchasing Analysis (Total)

In [7]:
unique_items = purchase_data['Item ID'].nunique()
average_price = '${:,.2f}'.format(purchase_data['Price'].mean())
number_purchases = purchase_data['Item Name'].count()
revenue = '${:,.2f}'.format(purchase_data['Price'].sum())
pymoli = (unique_items, average_price, number_purchases, revenue)
#columns = ('Number of Unique Items', 'Average Price', 'Number of Purchases', 'Total Revenue')
pymoli_summary_df = pd.DataFrame([pymoli], columns = ['Number of Unique Items', 'Average Price', 'Number of Purchases', 'Total Revenue'])
pymoli_summary_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

## Gender Demographics

In [8]:
total_count2 = purchase_data.groupby(['Gender']).nunique()
total_count2['test'] = total_count2['SN']/tot_player * 100
total_count2['test'] = total_count2['test'].round(decimals=2)
gender_demo = total_count2.loc[:, ['SN', 'test']].rename(columns={'SN':"Total Count", "test":"Percentage of Players"})
gender_demo.sort_values(by=['Total Count'], ascending=False)

                       Total Count  Percentage of Players
Gender
Male                           484                  84.03
Female                          81                  14.06
Other / Non-Disclosed           11                   1.91

## Purchasing Analysis (Gender)

In [9]:
gender_group = purchase_data.groupby(["Gender"])
purchase_count = gender_group["Item ID"].count()
avg_purchase_price = gender_group["Price"].mean()
total_purchase_price = gender_group['Price'].sum()
avg_total_price_per_person = total_purchase_price/total_count2['SN']


purchasing_analysis_df = pd.DataFrame({"Purchase Count": purchase_count, 'Avg Purchase':avg_purchase_price, 
                                       "Total Purchase Value": total_purchase_price,'Avg Total Purchase per Person':avg_total_price_per_person})

purchasing_analysis_df["Avg Purchase"] = purchasing_analysis_df["Avg Purchase"].map('${:,.2f}'.format)
purchasing_analysis_df["Total Purchase Value"] = purchasing_analysis_df["Total Purchase Value"].map('${:,.2f}'.format)
purchasing_analysis_df["Avg Total Purchase per Person"] = purchasing_analysis_df["Avg Total Purchase per Person"].map('${:,.2f}'.format)


purchasing_analysis_df

,Purchase Count,Avg Purchase,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

In [10]:
# Create bins and group labels
bins = [0, 9.99, 13.99, 18.99, 23.99, 28.99, 33.99, 38.99, 1000]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Cut to make age ranges
purchase_data["Age Range"] = pd.cut(purchase_data["Age"], bins, labels=group_names)

#players_group = purchase_data.groupby(['SN'])

#purchase_data
#players_group.sort_values(by=['Item Name'], ascending=False)
#age_group = purchase_data.groupby('Age Range')
age_group_count = purchase_data['Age Range'].value_counts()
percentage_age_group = age_group_count/tot_player * 100

# Make a dataframe
age_demo = pd.DataFrame({"Total Count": age_group_count, "Percentage of Players": percentage_age_group})

# Sort and format dataframe
age_demo.sort_index().round(2)

       Total Count  Percentage of Players
<10             23                   3.99
10-14           26                   4.51
15-19          115                  19.97
20-24          321                  55.73
25-29          155                  26.91
30-34           77                  13.37
35-39           44                   7.64
40+             19                   3.30

## Purchasing Analysis (Age)

In [11]:
# Cut the data by age
purchase_data["Age Range"] = pd.cut(purchase_data["Age"], bins, labels=group_names)

# Make calculations 
avg_purchase_price_age = purchase_data.groupby(["Age Range"]).mean()['Price']
total_purchase_price_age = purchase_data.groupby(["Age Range"]).sum()["Price"]
count_age = purchase_data.groupby(["Age Range"]).count()["Price"]
avg_total_purchase_per_person = total_purchase_price_age / age_demo["Total Count"]

# Make a dataframe
purchasing_analysis = pd.DataFrame({"Purchase Counts": count_age, "Average Purchase Price":avg_purchase_price_age,
                                   "Total Purchase Value":total_purchase_price_age, 
                                    "Avg Total Purchase per Person":avg_total_purchase_per_person})

purchasing_analysis['Purchase Counts'] = purchasing_analysis['Purchase Counts'].map("{:,}".format)
purchasing_analysis['Average Purchase Price'] = purchasing_analysis['Average Purchase Price'].map("${:,.2f}".format)
purchasing_analysis['Total Purchase Value'] = purchasing_analysis['Total Purchase Value'].map("${:,.2f}".format)
purchasing_analysis['Avg Total Purchase per Person'] = purchasing_analysis['Avg Total Purchase per Person'].map("${:,.2f}".format)
purchasing_analysis

,Purchase Counts,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
10-14,26,$2.92,$75.87,$2.92
15-19,115,$3.04,$349.82,$3.04
20-24,321,$3.03,$973.82,$3.03
25-29,155,$3.02,$467.99,$3.02
30-34,77,$2.95,$227.10,$2.95
35-39,44,$3.33,$146.48,$3.33
40+,19,$3.24,$61.56,$3.24
<10,23,$3.35,$77.13,$3.35

## Top Spenders

In [12]:
players_group = purchase_data.groupby(['SN'])
purchase_count_player = players_group["Item ID"].count()
avg_purchase_price_player = players_group['Price'].mean()
total_purchase_value_player = players_group['Price'].sum()
top_spend_df = pd.DataFrame({'Purchase Count':purchase_count_player,"Average Purchase Price":avg_purchase_price_player, 
                             'Total Purchase Value':total_purchase_value_player})
# top_spend_df

top_spend_df_sorted = top_spend_df.sort_values(by=['Total Purchase Value'], ascending=False)
top_spend_df_sorted['Average Purchase Price'] = top_spend_df_sorted['Average Purchase Price'].map('${:,.2f}'.format)
top_spend_df_sorted['Total Purchase Value'] = top_spend_df_sorted['Total Purchase Value'].map('${:,.2f}'.format)
top_spend_df_sorted.head()

# user_sorted.loc[:,["Purchase Count", "Average Purchase Price", "Total Purchase Value"]]

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

In [13]:
item_group = purchase_data.groupby(["Item ID", "Item Name"])
item_count = item_group['Item ID'].count()
avg_item = item_group['Price'].mean()
total_price_item = item_group['Price'].sum()
pop_items = pd.DataFrame({'Purchase Count':item_count, "Item Price":avg_item, "Total Purchase Value":total_price_item})
pop_items_sorted = pop_items.sort_values(by="Purchase Count",ascending = False)
pop_items_sorted['Item Price'] = pop_items_sorted['Item Price'].map('${:,.2f}'.format)
pop_items_sorted['Total Purchase Value'] = pop_items_sorted['Total Purchase Value'].map('${:,.2f}'.format)
pop_items_sorted.head()
# ID_group = purchase_data.groupby(['Item ID']).count()
# ID_group

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

In [14]:

pop_items_sorted_profit = pop_items.sort_values(by="Total Purchase Value",ascending = False)

pop_items_sorted_profit['Item Price'] = pop_items_sorted_profit['Item Price'].map('${:,.2f}'.format)
pop_items_sorted_profit['Total Purchase Value'] = pop_items_sorted_profit['Total Purchase Value'].map('${:,.2f}'.format)

pop_items_sorted_profit.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80